h1{
    margin-top: 200px;
}
button{
    
    width: 280px;
    margin: auto;
    margin-top: 200px;
}
button:focus , button:active{
    
    margin-top: 197.5px;
    width: 285px;
    height: 55px;
}