<div class="pantalla">
    <img src="Fondo1.jpg" class="fondo">
    <h1>Horarios</h1>
    <nav>
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="admin/espacios">Espacios</a>
            </li>
            <li>
                <a href="admin/arriendos">Arriendos</a>
            </li>
            <li>
                <a href="admin/tarifas">Tarifas</a>
            </li>
            <li>
                <a href="admin/horarios">Horarios</a>
            </li>
            <li>
                <a href="admin/usuarios">Usuarios</a>
            </li>
        </ul>
    </nav>
</div>