<div class="pantalla">
    <img src="Fondo1.jpg" class="fondo">
    <h1>Mi perfil</h1>
    <label>
        Nombre:
        <input type="text">
    </label>
    <label>
        Apellido:
        <input type="text">
    </label>
    <label>
        Celular:
        <input type="text">
    </label>
    <label>
        Direccion:
        <input type="text">
    </label>
    <label>
        Placa:
        <input type="text">
    </label>
    <div class="botones">
<button>Editar</button>
<button>Guardar</button>
</div>




    <nav>
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="cliente">Menu Principal</a>
            </li>
            <li>
                <a href="cliente/perfil">Mi Perfil</a>
            </li>
        </ul>
    </nav>
</div>